<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="icon" href="https://cdn.svgapi.com/vector/290625/smug-lego.svg" type="svg\">
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a style="color: black;" class="navbar-brand" href="/landing">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20" fill="currentColor" class="bi bi-brick" style="margin-left: 5px;">
                      <image href="https://cdn.svgapi.com/vector/290625/smug-lego.svg" width="20" height="20" />
                    </svg>
                    LegoLand
                  </a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/my-sets">Favorites</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


        <form id="asdff">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label for="setName" class="form-label">Set Name</label>
                    <input type="text" class="form-control" id="setName" name="set_name" value="{{ request.args.get('set_name','') }}">
                </div>
                <div class="col-sm-6">
                    <label for="themeName" class="form-label">Theme Name</label>
                    <input type="text" class="form-control" id="themeName" name="theme_name" value="{{ request.args.get('theme_name','') }}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label for="partCountRange" class="form-label">Part Count Range</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="minPartCount" name="min_part_count" min="0" placeholder="MIN" value="0">
                        <span class="input-group-text">-</span>
                        <input type="number" class="form-control" id="maxPartCount" name="max_part_count" placeholder="MAX" value="10000">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="resultsPerPage" class="form-label">Results Per Page</label>
                    <select class="form-select" id="limit" name="limit">
                        <option value="10" {% if request.args.get('limit','50') == '10' %} selected {% endif %}>10</option>
                        <option value="50" {% if request.args.get('limit','50') == '50' %} selected {% endif %}>50</option>
                        <option value="100" {% if request.args.get('limit','50') == '100' %} selected {% endif %}>100</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        
        
        <h1>{{nums}} results</h1>
        <div style="width: 100vw;" class="table-responsive">
        <table id="asdf" class="table  ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <a href="{{ link }}&sort_by=set_num&sort_byp={{ request.args.get('sort_by','') }}">
                            Set Num
                            {% if sort_by == 'set_num' %}
                                {% if params[0] == 'asc' %}
                                    <i class="bi bi-caret-up-fill"></i>
                                {% else %}
                                    <i class="bi bi-caret-down-fill"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ link }}&sort_by=set_name&sort_byp={{ request.args.get('sort_by','') }}">
                            Set Name
                            {% if sort_by == 'set_name' %}
                                {% if params[0] == 'asc' %}
                                    <i class="bi bi-caret-up-fill"></i>
                                {% else %}
                                    <i class="bi bi-caret-down-fill"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    
                    <th>
                        <a href="{{ link }}&sort_by=theme_name&sort_byp={{ request.args.get('sort_by','') }}">
                            Theme
                            {% if sort_by == 'theme_name' %}
                                {% if params[0] == 'asc' %}
                                    <i class="bi bi-caret-up-fill"></i>
                                {% else %}
                                    <i class="bi bi-caret-down-fill"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ link }}&sort_by=year&sort_byp={{ request.args.get('sort_by','') }}">
                            Year
                            {% if sort_by == 'year' %}
                                {% if params[0] == 'asc' %}
                                    <i class="bi bi-caret-up-fill"></i>
                                {% else %}
                                    <i class="bi bi-caret-down-fill"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ link }}&sort_by=part_count&sort_byp={{ request.args.get('sort_by','') }}">
                            Part Count
                            {% if sort_by == 'part_count' %}
                                {% if params[0] == 'asc' %}
                                    <i class="bi bi-caret-up-fill"></i>
                                {% else %}
                                    <i class="bi bi-caret-down-fill"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr class="{{ 'table-row-red' if loop.index is odd else 'table-row-yellow' }}">
                    <td>{{ row.set_num }}</td>
                    <td>{{ row.set_name }}</td>
                    <td>{{ row.theme_name }}</td>
                    <td>{{ row.year }}</td>
                    <td>{{ row.part_count }}</td>
                    <td>
                        <img class="star-icon" {% if row.star %} src="./static/starred.png" {% else %} src="./static/unstar.png" {% endif %} alt="Star" data-setnum="{{ row.set_num }}" data-bool="{{ row.star }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
          <form id="fofrms">
            <label for="offset">Page:</label>
              {% for i in range(params|length - 1) %}
              <input type="hidden" name="{{ names[i] }}" value="{{ params[i] }}">
              {% endfor %}
            <select id="offset" name="offset" onchange="this.form.submit()">
              {% for i in range(1, pages + 1) %}
              <option value="{{ i }}" {% if  params[params|length - 1] == i %} selected {% endif %} >{{ i }}</option>
              {% endfor %}
            </select>
          </form>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="./static/index.js"></script>
    </body>
</html>